@model EmbeddedStock.ViewModels.ComponentTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Datasheet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Datasheet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.WikiLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.WikiLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.AdminComment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComponentType.AdminComment)
        </dd>
        <dt>
            Categories
        </dt>
        <dd>
            <ul>
				@foreach (var category in Model.SelectedCategories)
                {
				    <li>
                        <p style="margin-bottom: 0;">@category</p>
				    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ComponentType.ComponentTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
