@using EmbeddedStock.Models.Enums;

@model IEnumerable<EmbeddedStock.ViewModels.ComponentTypeViewModel>

@{
    ViewData["Title"] = "Types";
}

<h3>Component Types</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Datasheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.WikiLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType.AdminComment)
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Location)
                </td>
                <td>
				    @Enum.GetName(typeof(ComponentStatus), item.ComponentType.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Datasheet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.WikiLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentType.AdminComment)
                </td>
                <td>
                    @foreach (var category in item.SelectedCategories)
                    {
                        <p style="margin-bottom: 0;">@category</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ComponentType.ComponentTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ComponentType.ComponentTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ComponentType.ComponentTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>