@model IEnumerable<EmbeddedStock.Models.Component>

@{
    ViewData["Title"] = "Index";
}

<h3>Components</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLoanInformationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLoanInformationId)
            </td>
			<td>
                @Html.DisplayFor(modelItem => item.ComponentType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComponentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComponentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComponentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
